.add-product-container {
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Минимальная высота страницы */
    background-color: #f9f9f9;
}

.add-product-form {
    display: flex;
    flex-direction: column; /* Вертикальное расположение элементов */
    width: 300px; /* Фиксированная ширина формы */
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px; /* Отступ между полями формы */
}

label {
    margin-bottom: 5px; /* Отступ между меткой и полем ввода */
    font-size: 14px;
    color: #333;
}

input {
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%; /* Поля занимают всю ширину формы */
}

.add-product-button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.add-product-button:hover {
    background-color: #45a049; /* Цвет при наведении на кнопку */
}
