.product-list-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Центрирование по горизонтали */
    justify-content: center; /* Центрирование по вертикали */
    min-height: 100vh; /* Минимальная высота 100% экрана */
}

h1 {
    margin-bottom: 20px; /* Отступ между заголовком и списком */
}

.product-list {
    list-style: none; /* Убираем маркеры списка */
    padding: 0;
    margin: 0;
}

.product-list li {
    display: flex;
    justify-content: space-between; /* Элементы внутри li равномерно распределяются */
    align-items: center; /* Центрирование содержимого li */
    width: 300px; /* Задаем фиксированную ширину для списка */
    margin-bottom: 10px; /* Отступ между продуктами */
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    margin-left: 20px; /* Отступ для кнопки удаления */
    padding: 5px 10px;
    background-color: #f44336; /* Цвет кнопки удаления */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #d32f2f; /* Цвет при наведении на кнопку */
}
